<h1>Ask your coach</h1>

<form 
class = "d-flex justify-content-center align-items-center"
action="/answer" method="GET">
  <input type="text" class="col form-control mt-3 me-3" name="question" placeholder="Ask a question"> 
  <%# params are created from the input here%>
  <input type="submit" class="btn btn-primary mt-3 px-5" value="Ask!">
</form>